/* src/styles.css */
.modal-backdrop {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 80%;
  height: 40%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: right;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 80%;
  max-width: 500px;
  padding: 10px 10px 10px 30px;
  background-color: rgb(95, 95, 135);
}

.close {
  border: 0;
  border-radius: 6px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.5s ease
}

.bold-24 {
  font-weight: bold;
  font-size: 24px;
}

.no-border-input {
  outline: none; 
  border: 0;
}

.description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 105px;
}

.action-button {
  width: 49%;
  border-radius: 12px;
}

.save-button {
  background-color: rgb(95, 95, 135);
  color: white;
  border: 0;
  height: 100%;
}

.save-button:hover {
  background-color: rgb(66, 66, 94);
}

.close-button {
  background-color: white;
  border: 2px solid rgb(219, 219, 219);
}

.close-button:hover {
  background-color: rgb(234, 234, 234);
}

.action-buttons-container {
  height: 9%;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 16%;
  border: 2px solid #b5b4b4;
  height: 7%;
  border-radius: 7px;
  background: #edecec;
}

.taskboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.taskgroup-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskgroup-name {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 35px;
  padding: 0px 8px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.taskgroup-addbutton {
  width: 250px; 
  height: 35px;
  border: 2px dashed #ccc;
  background: white;
  border-radius: 6px;
  font-size: '14px'
}

.taskgroup-body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 250px;
  font-family: Arial, sans-serif;
}